<button class="operation" name="add" id="add">+</button>
<button class="operation" name="subtract" id="subtract">-</button>
<button class="operation" name="multiply" id="multiply">*</button>
<button class="operation" name="divide" id="divide">/</button>
<br>
<button class="numberpad" name="button1" id="button1">1</button>
<button class="numberpad" name="button2" id="button2">2</button>
<button class="numberpad" name="button3" id="button3">3</button>
<br>
<button class="numberpad" name="button1" id="button4">4</button>
<button class="numberpad" name="button2" id="button5">5</button>
<button class="numberpad" name="button3" id="button6">6</button>
<br>
<button class="numberpad" name="button1" id="button7">7</button>
<button class="numberpad" name="button2" id="button8">8</button>
<button class="numberpad" name="button3" id="button9">9</button>
<br>
<button class="numberpad" name="button0" id="button0">0</button>
<br>
<button class="equals">=</button>
<br>
<button class="reset">RESET</button>
